{% macro post_card(post) %}
<article class="flex flex-col gap-y-3 auto-rows-min p-4 bg-white/80 border border-gray-300 border-l-red-500 border-l-2 rounded-md">
  <header>
    <h3 class="text-2xl font-semibold underline underline-offset-4">{{ post.title|e }}</h3>
  </header>
  <section>
    {{ post.content|excerpt_html }}
  </section>
  <footer class="flex justify-start items-center gap-x-2 text-sm text-gray-600 ">
    <time class="after:content-['•'] after:ml-2" dateTime="{{ post.date|date('Y-m-d') }}">
      {{ post.date|format_date('medium') }}
    </time>
    <span class="after:content-['•'] after:ml-2">{{ readtime(post.content) }} min</span>
    <span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
      <svg class="h-1.5 w-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
        <circle cx="3" cy="3" r="3" />
      </svg>
      {{- post.tags|first ~}}
    </span>
  </footer>
</article>
{% endmacro %}