{% extends '_default/page.html.twig' %}

{% from 'macros/posts.twig' import card as post_card %}

{% set posts = site.pages.showable|filter_by('section', site.posts.section)|sort_by_date(desc_title=true) %}

{% block content %}
<section class="prose">
  <h2 class="mb-4">{{ page.title }}</h2>
  <div class="text-lg text-gray-700 mb-4">
    {{ page.content }}
  </div>
  {%- if site.data.links|default([])|length > 0 ~%}
  <div class="flex justify-start items-center gap-x-4 mt-8 text-gray-700">
    {%- for link in site.data.links ~%}
    <a href="{{ url(link.href) }}" title="{{ link.title }}">{{ asset(link.picto)|html(attributes={class: 'size-8', alt: link.alt}) }}</a>
    {%- endfor ~%}
  </div>
  {% endif %}
</section>
<section class="mt-24 flex flex-col space-y-6">
  <h2 class="text-2xl border-b">{% trans %}Derniers articles{% endtrans %}</h2>
  <section class="flex flex-col space-y-4">
    {%- for post in posts|slice(0, 5) %}
    <a href="{{ url(post) }}" class="no-overlay">{{ post_card(post) }}</a>
    {% endfor %}
  </section>
</section>
  {% if posts|length > 5 %}
<div class="mt-6 flex justify-end">
  <a class="bg-black text-white py-2 px-6 rounded-full" href="{{ url(site.posts.section) }}">{% trans %}Voir les posts plus anciens{% endtrans %}</a>
</div>
  {% endif %}
{% endblock %}
